---
import '../../Styles/stylesDiscurso.css'
import Layout from '../../layouts/Layout.astro';
---

    <astro-fragment>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Jornada por la Competencia 2022</title>
        </head>

        <body>
                <div class="grid-container">
                <div class="containerDoc main">
                <h2 class="colorNavy">Jornada por la Competencia 2022</h2>
                <h2 class="colorNavy">Sector financiero en México: retos y oportunidades</h2>
                <p>Miércoles 26 de octubre de 2022.</p>
                
                <p>9:30 a 9:45 hrs. Mensaje de bienvenida de la Comisionada Presidenta</p>
                
                <p>9:45-9:50 hrs. La Comisionada Presidenta presenta a Frédéric Jenny (primer conferencista)</p>
                <hr class="colorBlue hrShort">
                <p class="colorBlue centerText">Mensaje de bienvenida</p>
                <hr class="colorBlue hrShort">
                <p>Saludos iniciales.</p>
                <p><ul>
                    <li>Muy buenos días, me da mucho gusto saludar esta mañana a todos quienes nos acompañan en este importante evento para la Comisión Federal de Competencia Económica, que afortunadamente, podemos retomar en formato híbrido tras más de dos difíciles años de pandemia.</li>
                <li>Saludo con mucho gusto a los panelistas con los que tenemos el honor de contar hoy, distinguidos miembros de la academia, servidores y exservidores públicos, representantes del sector privado, así como miembros de organismos internacionales y a las agencias de competencia que nos siguen desde otros países.</li>
                <li>Y por supuesto saludo y agradezco la presencia de Frederic Jenny, Presidente del Comité de Competencia de la Organización para la Cooperación y el Desarrollo Económico (OCDE), así como de todo el público que nos acompaña tanto presencialmente como a través de las redes de la COFECE.</li>
            </ul></p>
                
                <h3 class="colorBlue">Importancia de la política de competencia.</h3>
                <p>Quiero iniciar esta mañana reiterando algo que desde la COFECE tenemos muy claro: que la competencia económica conlleva enormes beneficios como menores precios, más y mejores bienes y servicios, mayores alternativas de compra para los consumidores y, en general, eficiencia en los mercados que en última instancia conlleva un mayor desarrollo económico.</p>
                <p>A su vez, los costos de la falta de competencia también son evidentes: precios más altos, menor calidad, poca variedad, falta de innovación, privilegios para unos pocos y mercados pequeños e ineficientes.</p>
                <p>En este sentido, podemos aseverar que la competencia económica es una <b>poderosa herramienta</b> para mejorar las condiciones de vida de las familias mexicanas, especialmente aquellas con las condiciones económicas menos favorables.</p>
                <h3 class="colorBlue">Entorno global.</h3>
                <p>En la COFECE somos conscientes de las complejas condiciones económicopolíticas que se observan actualmente, no sólo en nuestro país, sino en gran
                    parte del mundo:</p>
                <p>El entorno global actual se caracteriza por elementos de volatilidad,
                    incertidumbre y complejidad. Permítanme compartirles un par de ejemplos
                    que lo ilustran.</p>
                <p><b>El primero de ellos</b> son las bajas tasas de crecimiento económico y altas tasas
                    de inflación.</p>
                <p>En 2020, a raíz de la emergencia sanitaria provocada por el virus SARS-CoV2,
                    inició una recesión económica de índole global. Por el lado de la oferta, la
                    suspensión de actividades no esenciales, la implementación de restricciones a
                    la movilidad y el cierre de fronteras incrementaron la escasez de insumos y
                    provocaron la interrupción de las cadenas globales de producción y
                    distribución. Por el lado de la demanda, estas medidas dieron lugar a la
                    contracción del comercio internacional, el colapso de las actividades turísticas
                    y de transporte, así como el debilitamiento de la demanda externa.</p>
                <p>Aunado a lo anterior, el paro de algunas actividades económicas aumentó el
                    desempleo, redujo los ingresos de los hogares y, consecuentemente, provocó
                    una caída en el consumo. A causa de todo lo anterior, se estima que, a
                    mediados de 2020, el Producto Interno Bruto (PIB) mundial se contrajo en 10%
                    respecto de su nivel a finales de 2019.<a href="#supBottom1"><sup id="supTop1">1</sup></a></p>
                <p>En este contexto, la implementación de una política de competencia efectiva
                    cobra mayor relevancia, pues favorece la presencia de agentes económicos,
                    nuevos o previamente establecidos, cuya capacidad para entrar y permanecer
                    en los mercados se basa en su habilidad de actuar, innovar, y adaptarse a las
                    necesidades, gustos y posibilidades de los consumidores.</p>
                <p><b>El segundo aspecto</b> tiene que ver con los cambios en las dinámicas de
                    comercio exterior, pues existen factores recientes que influyen en el
                    desempeño de la economía mexicana: el Tratado entre México, Estados
                    Unidos y Canadá (T-MEC), que agrega capítulos sobre comercio digital,
                    energía, medio ambiente, mercado laboral, PyMEs, competitividad, buenas
                    prácticas regulatorias, anticorrupción y política macroeconómica; así como la
                    creciente importancia de China en el comercio mundial, por mencionar
                    algunos.
                    </p>
                <p>Ante los cambios en la dinámica de los mercados internacionales, resulta
                    imperante impulsar una política de competencia que permita a las empresas
                    contar con mejores condiciones de acceso a insumos, capital, tecnología e
                    infraestructura.</p>
                <h3 class="colorBlue">JxC y sector financiero.</h3>
                <p>Como ustedes saben, la Comisión guía su actuar con un Plan Estratégico que
                    incorpora una priorización de sectores con la cual se busca un mayor impacto
                    de las intervenciones de la COFECE en términos de eficiencia sobre el
                    funcionamiento de los mercados y de bienestar para las personas. </p>
                <p>Dentro del Plan Estratégico 2022-2025, identificamos ocho sectores
                    prioritarios, por lo que este año quisimos que la Jornada por la Competencia estuviera enfocada precisamente uno de ellos, el cual resulta fundamental no
                    sólo por su tamaño y complejidad, sino por su transversalidad ya que es
                    utilizado tanto por usuarios finales como en el desarrollo de otras actividades
                    productivas: <b>El sector financiero</b> sin olvidar el impacto que puede tener en el
                    mismo otro de los sectores prioritarios de nuestro Plan Estratégico, es decir, el
                    de mercados digitales.
                    </p>
                <p>Las entidades y mercados financieros son fundamentales para el desarrollo
                    económico y social de cualquier nación: Por un lado, se observa que países con
                    sistemas y mercados financieros eficientes crecen más rápido y por otro, las
                    economías con mayores niveles de crecimiento y bienestar impulsan sistemas
                    financieros más sólidos y profundos<a href="#supBottom2"><sup id="supTop2">2</sup></a></p>
                <p>En nuestro país, la relevancia de este sector es evidente:</p>
                <p><ul>
                    <li>En 2020, aportó el 5% del PIB y, de 2016 a 2020, creció 7.23%.</li>
                    <li>En especial, el subsector de fianzas, seguros y pensiones registró un
                        crecimiento en el mismo periodo de casi 50%, lo que representa una
                        tasa promedio anual de más de 10%. </li>
                    <li>En 2018, el 31% de la población de 18 a 70 años tuvo al menos un crédito
                        formal<a href="#supBottom3"><sup id="supTop3">3</sup></a></li>
                    <li>Asimismo, en 2020, el 27% de los hogares reportó depósitos en cuentas
                        y cajas de ahorro, y el 85.6% reportó pagos de tarjetas de crédito.
                        <a href="#supBottom4"><sup id="supTop4">4</sup></a></li>
                </ul></p>
                <p>El sistema financiero mexicano tiene algunas ventajas respecto a otros
                    sistemas en el mundo: las instituciones financieras privadas del país cuentan
                    con los niveles de capitalización requeridos por la ley; y presentan bajos índices
                    de morosidad en su actividad. Estas dos condiciones han generado que los
                    mercados financieros posean una estabilidad que permite amortiguar los
                    choques financieros.</p>
                <p>Gracias a estas fortalezas fue posible que durante la crisis financiera
                    internacional de 2008-2009, el sistema bancario mexicano mantuviera su estabilidad y no presentara los problemas que se reportaron en otras
                    economías del mundo, aunque durante esos años se observó una
                    desaceleración del financiamiento al consumo, a la vivienda y a las empresas.</p>
                <p>En cuanto a las condiciones de competencia en el sector, en los últimos años
                    la COFECE ha realizado diversas intervenciones para promover mayor
                    eficiencia en los mercados financieros:
                    </p>
                <p><ul>
                    <li>En 2014 publicamos un trabajo de investigación sobre las condiciones
                        de competencia en el sector financiero, en el que se analizan y emiten
                        recomendaciones en algunos de los mercados más relevantes como
                        crédito, ahorro, financiamiento bursátil y seguros.</li>
                    <ul><li>Algunos de los problemas detectados en este estudio inclusive
                        llevaron a que se iniciaran investigaciones por posibles conductas
                        anticompetitivas en el sector.</li></ul>
                    <li>En el año 2015 se inició una investigación por la posible realización de
                        prácticas monopólicas absolutas en el mercado de la prestación de
                        servicios de Afores. Derivado de la investigación se acreditó que cuatro
                        Afores celebraron acuerdos bilaterales para limitar el traspaso de
                        cuentas entre ellas. Así, en 2017 el Pleno sancionó por mil 112 millones
                        de pesos a cuatro Afores y 11 personas físicas por su participación en
                        estas prácticas.</li>
                    <li>También en 2015 se inició una investigación por abuso de dominancia
                        en el mercado de información crediticia, en la cual se acreditó que un
                        agente económico abusó de su poder de mercado al negarse a
                        intercambiar su base de datos primaria, obstaculizando así la capacidad
                        otros agentes económicos para recopilar, procesar y comercializar
                        información. Por lo anterior, en 2019 el Pleno le impuso una sanción por
                        más de 27 millones de pesos. </li>
                    <li>En 2016, se inició una investigación por posibles prácticas monopólicas
                        absolutas en el mercado de la intermediación de valores de deuda
                        emitidos por el Gobierno Federal, en el mercado secundario, lo que
                        generó un daño al público inversionista que adquirió los bonos objeto
                        de la colusión. Por lo anterior, en 2021 el pleno de la Comisión impuso
                        sanciones por más de 35 millones de pesos a 7 bancos y 11 personas
                        físicas.</li>
                    <li>En 2018 se inició una investigación para determinar la existencia de
                        insumos esenciales o barreras a la competencia en el mercado de
                        sistemas de pagos con tarjetas. Como resultado, en el dictamen
                        preliminar, la Autoridad Investigadora identificó barreras a la
                        competencia que impiden la entrada e incrementan los costos de
                        nuevos participantes en este mercado, además, inhiben la innovación,
                        la inversión para atender problemas operativos y de seguridad, e
                        incrementan los costos de los bancos que afilian a los comercios. La falta
                        de competencia, de acuerdo con el dictamen preliminar, provoca cuotas
                        elevadas que genera que pocos comercios estén interesados en recibir
                        pagos por este medio, ya que deben asumir dicho costo. Es importante
                        señalar que, por falta de nombramiento de los comisionados faltantes,
                        los plazos para resolver este procedimiento se encuentran suspendidos
                        y que esta Comisión podrá emitir la resolución que pudiera impactar
                        positivamente a la problemática detectada, en cuanto exista el quorum
                        que exige la Ley. </li>
                    <li>Asimismo, la COFECE ha emitido diversas opiniones referentes a
                        distintos temas como la emisión de la Ley Fintech, la iniciativa para
                        reformar la Ley para la Transparencia y el Ordenamiento de los Servicios
                        Financieros y de la Ley de Instituciones de Crédito en materia de
                        comisiones bancarias; así como sobre regulaciones de gasto comercial y
                        de comisiones de los sistemas de ahorro para el retiro.</li>
                </ul></p>
                <p>Adicionalmente, estamos próximos a presentar dos nuevos documentos que
                    consideramos serán de gran relevancia para la evolución del sector: El primero
                    de ellos es el <i><b>estudio de mercado sobre servicios financieros digitales</b></i>, y el
                    segundo, que ya se encuentra listo y que estaremos presentando en breve, es
                    el <b>Estudio de competencia y libre concurrencia en seguros de gastos médicos.</b> </p>
                <p>Ambos documentos analizan la estructura, funcionamiento y marco
                    regulatorio de dichos mercados y, en su caso, presentan a las autoridades
                    competentes propuestas y recomendaciones para promover mayor
                    competencia y libre concurrencia en beneficio de los usuarios de estos
                    servicios.</p>
                <p>En particular, en lo referente al mercado de seguros de gastos médicos, el
                    estudio presenta recomendaciones enfocadas en 4 aspectos:</p>
                <p><ol>
                    <li>Fomentar la transparencia en el mercado relacionado de servicios
                        hospitalarios,</li> 
                    <li>Mejorar la movilidad de los consumidores,</li> 
                    <li>Reducir costos de búsqueda de los consumidores, y</li> 
                    <li>Reducir barreras a la entrada para nuevos competidores. </li> 
                </ol></p>
                <p>En las próximassemanas, la COFECE estará buscando espacios de diálogo para
                    presentar los principales hallazgos a las autoridades correspondientes, y
                    fomentar con ello mayor eficiencia en este importante mercado.</p>
                <p>Los avances logrados en el sector financiero y el ambiente de estabilidad de
                    los últimos añosson evidentes; sin embargo, existen aún áreas de oportunidad
                    para incrementar los niveles de intermediación financiera de la economía en
                    general, así como los niveles de inclusión financiera de la población que no
                    tiene acceso a los mercados financieros.</p>
                <p>Es por ello que este evento busca detonar una muy enriquecedora discusión
                    en los distintos paneles y conferencias que estaremos escuchando a lo largo
                    de la jornada, así como <b>motivar un diálogo aún más profundo sobre la
                    regulación y condiciones de competencia de todo el sector financiero, a fin
                    de alcanzar mayor eficiencia en el mercado y, en consecuencia, que los
                    consumidores dispongan de productos y servicios de mayor calidad a
                    menores precios.</b></p>
                <p>Para la COFECE es un gusto poder organizar esta jornada por la competencia
                    2022, no solo por la diversidad y relevancia de los temas que vamos a discutir,
                    sino por la enorme calidad, trayectoria y especialización de los panelistas y
                    moderadores que nos acompañan, quienes nos compartirán su conocimiento
                    y experiencia desde distintas perspectivas. Lo anterior sin duda enriquecerá
                    las discusiones de esta mañana, y nos permitirá entender con mucha mayor
                    profundidad las dinámicas y complejidades de un sector tan relevante para el
                    desarrollo de nuestro país.</p>
                <p>En la primera intervención tendremos la participación de Frédéric Jenny,
                    Presidente del Comité de Competencia de la OCDE, quien nos hablará desde la
                    experiencia de tal organización, de la relevancia de que existan condiciones de
                    competencia en el sector financiero, así como nuevas formas de abordar las
                    cuestiones regulatorias del sector.</p>
                <p>Posteriormente, en el primer panel, escucharemos una perspectiva integral
                    sobre cómo lograr que la regulación permita el libre ejercicio de las actividades
                    financieras, en mejores condiciones para los consumidores.</p>
                <p>En el segundo panel los expositores nos compartirán la visión de los sectores
                    público, privado y académico, para discutir qué efectos tienen sobre la
                    competencia los cambios recientes al marco regulatorio, los elementos a
                    considerar en caso de regular los traspasos u otros aspectos del mercado y,
                    sobre todo, qué riesgos vislumbran en materia de competencia para el ahorro
                    voluntario y los regímenes de inversión.</p>
                <p>Por último, cerraremos analizando uno de los retos más relevantes para
                    nuestro país, dedicaremos un espacio a debatir el tema de las Fintech.</p>
                <p>Sin más preámbulo, me permito presentar a Frédéric Jenny, quien es
                    presidente del Comité de Competencia de la OCDE desde 1994, profesor de la
                    Escuela de Negocios ESSEC de París y Jefe del Comité Internacional de la
                    Revista Concurrences antitrust publications and events. También es codirector
                    del Centro Europeo de Derecho y Economía de ESSEC desde 2008. </p>
                <p>Anteriormente fue director no ejecutivo de la Oficina de Comercio Justo
                    (Office of Fair Trading) en el Reino Unido, Juez del Tribunal Supremo francés,
                    Vicepresidente de la Autoridad Francesa de la Competencia durante 9 años y
                    Presidente del Grupo de Trabajo sobre Comercio y Competencia de la
                    Organización Mundial del Comercio. </p>
                <p>Bienvenido Frédéric.</p>
                <div class="footerDoc">
                    <hr class="hrFooter">

                    <p><a href="#supTop1"><sup id="supBottom1">1</sup></a><a class="linkFormat" href="https://www.oecd-ilibrary.org/sites/39a88ab1-en/1/3/1/index.html?itemId=/content/publi-cation/39a88ab1-en&_ga=2.21641720.219581283.1638326290-351862721.1633387680&_csp_=c8d2c0401e354b876a307e4d7900ec10&itemIGO=oecd&item-ContentType=book#section-d1e180">OECD (2020). OECD Economic Outlook, December.</a></p>
                    
                    <p><a href="#supTop2"><sup id="supBottom2">2</sup></a><a class="linkFormat" href="https://www.cofece.mx/cofece/images/Estudios/ResumenEjecutivo26-09-14.pdf">Resumen Ejecutivo del Trabajo de Investigación y Recomendaciones sobre las condiciones de competencia en el sector financiero y sus mercados, pag 13.</a></p>

                    <p><a href="#supTop3"><sup id="supBottom3">3</sup></a>CNBV e INEGI. Encuesta Nacional de Inclusión Financiera 2018.</p>

                    <p><a href="#supTop4"><sup id="supBottom4">4</sup></a>INEGI. Encuesta Nacional de Ingresos y Gastos de los Hogares 2020.</p>

                </div>
            </div>
            </div>
            </body>
            
            </html>
            
    </astro-fragment>
 