---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Cofece - Ayuda">
    <h1>Ayuda</h1>
    <p>Esta es la página de ayuda</p>








    <Navbar selected="" textSelected="" selected2="bg-[#00c7b058] w-14 h-8 rounded-2xl" textSelected2="font-black"/>
</Layout>