---
// This ver tries to implement an astro component that receives multiple articles
import '../Styles/stylesPrensa.css'; 
import Layout from '../layouts/Layout.astro';
import Article2 from '../components/Article2.astro';

const brenda = "Comisionada Presidenta en suplencia por vacancia, Brenda Gisela Hernández Ramírez";
const juan = "Director General de Estudios Económicos, Juan Manuel Espino Bravo";
const alejandra = "Comisionada Presidenta, Alejandra Palacios Prieto";
const dh = "Comisión Nacional de Derechos Humanos";

const articlesData = [
    {
        year: 2022,
        title: "Discurso de bienvenida de Brenda Hernández, Comisionada presidenta en suplencia por vacancia de la Cofece, ante la Jornada por la competencia, Sector financiero: Retos y oportunidades",
        person: brenda,
        date: "26 octubre 2022",
        link: "/discurso-26-oct-2022",
        pdf: "src/assets/discurso-26-octubre-2022.pdf"
    },
    {
        year: 2022,
        title: "Discurso ante el Foro sobre las Medidas para fortalecer el paquete contra la inflación en alimentos y energéticos del Grupo de Trabajo para la Transición Hacendaria, Cámara de Diputados",
        person: brenda,
        date: "26 mayo 2022",
        link: "",
        pdf: "src/assets/discurso-26-mayo-2022.pdf"
    },
    {
        year: 2022,
        title: 'Presentación "Estudio de competencia y libre concurrencia en seguros de gastos médico',
        person: juan,
        date: "06 diciembre 2022",
        link: "",
        pdf: "src/assets/presentacion-06-diciembre-2022.pdf"
    },
    {
        year: 2022,
        title: 'Presentación "Competencia económica en gas LP y alimentos" presentada en el Foro sobre las Medidas para fortalecer el paquete contra la inflación en alimentos y energéticos del Grupo de Trabajo para la Transición Hacendaria, Cámara de Diputados',
        person: brenda,
        date: "26 mayo 2022",
        link: "",
        pdf: "src/assets/presentacion-26-mayo-2022.pdf"
    },
    {
        year: 2021,
        title: 'Presentación ante la Comisión de Hacienda y Crédito Público del Senado de la República de la comisionada presidenta Alejandra Palacios Prieto',
        person: alejandra,
        date: "19 febrero 2021",
        link: "",
        pdf: "src/assets/presentacion-19-febrero-2021.pdf"
    },
    {
        year: 2020,
        title: 'Presentación "Propuestas en materia de competencia económica para contribuir a la reactivación de la economía mexicana", COFECE',
        person: alejandra,
        date: "13 octubre 2020",
        link: "",
        pdf: "src/assets/presentacion-13-octubre-2020.pdf"
    },
    {
        year: 2020,
        title: 'Presentación "Competencia Económica en tiempos de Covid-19", ANADE',
        person: alejandra,
        date: "15 abril 2020",
        link: "",
        pdf: "src/assets/presentacion-15-abril-2020.pdf"
    },
    {
        year: 2019,
        title: 'Presentación "Obstáculos regulatorios en el servicio de autotransporte de carga", Segunda Sesión Ordinaria del Consejo Nacional de Mejora Regulatoria',
        person: alejandra,
        date: "28 noviembre 2019",
        link: "",
        pdf: "src/assets/presentacion-28-noviembre-2019.pdf"
    },
    {
        year: 2019,
        title: 'Presentación "Para eliminar obstáculos a la competencia en la regulación estatal en los mercados de gasolinas y gas L.P.", CONAMER',
        person: alejandra,
        date: "19 agosto 2019",
        link: "",
        pdf: "src/assets/presentacion-19-agosto-2019.pdf"
    },
    {
        year: 2019,
        title: 'Reunión de trabajo-Comisión de Radio y Televisión y la Comisión de Economía Comercio y Competitividad, Cámara de Diputados',
        person: alejandra,
        date: "29 mayo 2019",
        link: "",
        pdf: "src/assets/presentacion-29-mayo-2019.pdf"
    },
    {
        year: 2019,
        title: 'Presentación "Aspectos Generales de Derechos Humanos"',
        person: dh,
        date: "27 mayo 2019",
        link: "",
        pdf: "src/assets/presentacion-27-mayo-2019.pdf"
    },
    {
        year: 2019,
        title: 'Estudio de competencia en el autotransporte federal de pasajeros: Hallazgos y recomendaciones',
        person: alejandra,
        date: "10 abril 2019",
        link: "",
        pdf: "src/assets/presentacion-10-abril-2019.pdf"
    },
    {
        year: 2019,
        title: 'Informe de actividades ante la Comisión de Economía, Senado de la República',
        person: alejandra,
        date: "21 febrero 2019",
        link: "",
        pdf: "src/assets/presentacion-21-febrero-2019.pdf"
    },
    {
        year: 2019,
        title: 'Cómo asegurar mercados competitivos de gasolinas y diésel en México',
        person: alejandra,
        date: "30 enero 2019",
        link: "",
        pdf: "src/assets/presentacion-30 enero-2019.pdf"
    },
  ]
---

<Layout title="Cofece - Prensa">

    <main class="grid mt-32 gap-2 mb-24 bg-white mx-4">
		<div class="flex items-center gap-3 mt-3 mb-3 mx-auto">
			<a href="/" class="">Comunicados</a>
			<a href="/discursosypresentaciones" class="px-3 py-1 bg-[#00a099] rounded-3xl text-white font-thin">Discursos y Presentaciones</a>
		</div>
        <div class="center-vertical">
            <Article2 year={2023} articles={articlesData.filter(article => article.year === 2023)} />
            <Article2 year={2022} articles={articlesData.filter(article => article.year === 2022)} />
            <Article2 year={2021} articles={articlesData.filter(article => article.year === 2021)} />
            <Article2 year={2020} articles={articlesData.filter(article => article.year === 2020)} />
            <Article2 year={2019} articles={articlesData.filter(article => article.year === 2019)} />
        </div>
    </main>
</Layout>

  <astro-fragment>
    <main class="grid mt-32 gap-6 mb-24 bg-white mx-4">
    <div class="flex items-center gap-3 mx-auto">
        <a href="/" class="">Comunicados</a>
        <a href="" class="px-3 py-1 bg-[#00a099] rounded-3xl text-white font-thin">Discursos y presentaciones</a>
        </div>
    <div class="center-vertical">
    <Article2 year={2023} articles={articlesData.filter(article => article.year === 2023)} />
    <Article2 year={2022} articles={articlesData.filter(article => article.year === 2022)} />
    <Article2 year={2021} articles={articlesData.filter(article => article.year === 2021)} />
    <Article2 year={2020} articles={articlesData.filter(article => article.year === 2020)} />
    <Article2 year={2019} articles={articlesData.filter(article => article.year === 2019)} />
      </div>
    </main>
  </astro-fragment>
  </Layout>

  

<script>
</script>
