---
import '../Styles/stylesAyuda.css'; 
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="COFECE - Ayuda">
    <main class="grid my-36 gap-2 lg:px-40 bg-white">
		<section class="flex items-center gap-6 mx-auto">
			<a href="/ayuda" class="font-normal">Preguntas Frecuentes</a>
			<a href="/glosario" class="px-3 py-1 bg-[#00C7B1] rounded-3xl text-white font-normal">Glosario</a>
		</section>
        <section class="mt-4">
            <h1 class="text-center font-medium text-4xl text-[#7B7B7B] uppercase">Glosario</h1>
            <p class="mt-12">
                <strong>Competencia económica:</strong> Es la rivalidad que se genera entre dos o más empresas que participan en un mismo mercado para ganar la preferencia de los consumidores. Gracias a esta, las empresas tienen el incentivo para ser más eficientes y atraer un mayor número de consumidores al satisfacer sus necesidades por medio de las mejores condiciones como precios bajos, servicios de valor agregado, mayor calidad y variedad de productos, cercanía, disponibilidad, especialización e innovación. <br> <br>

                <strong>Competencia efectiva:</strong> La competencia efectiva tiene lugar cuando dos o más empresas participan en un mismo mercado para ganar la preferencia de los consumidores. Cuando existe competencia efectiva, se satisfacen las necesidades de los consumidores por medio de las mejores condiciones como precios bajos, servicios de valor agregado, mayor calidad y variedad de productos, cercanía, disponibilidad, especialización e innovación. <br> <br>

                <strong>Concentración:</strong> Es la fusión, adquisición del control o cualquier acto en virtud del cual se unan sociedades, asociaciones, acciones, partes sociales, fideicomisos o activos en general que se realice entre competidores, proveedores,clientes o cualesquiera otros agentes económicos. <br> <br>

                <strong>Concentración ilícita:</strong> Es aquella que tiene por objeto o efecto obstaculizar, disminuir, dañar o impedir la libre concurrencia o la competencia económica. <br> <br>

                <strong>Investigación de oficio:</strong> Investigación que la COFECE inicia por iniciativa propia a partir de indicios (información pública, solicitudes de inmunidad, entre otros) sobre la probable comisión de una práctica anticompetitiva. <br> <br>
            </p>
        </section>
    </main>
    <Navbar  selected='' textSelected='' selected2='bg-[#00c7b058] w-14 h-8 rounded-2xl' textSelected2='font-black'/>
</Layout>