---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Cofece - Comisión Federal de Competencia Económica">
	<main class="flex h-screen flex-col justify-between bg-white">

	</main>
</Layout>

