---
import Layout from '../layouts/Layout.astro'; 
const res = await fetch("https://api.spacexdata.com/v5/launches");
const data = await res.json();
console.log(data);
---

<?php
    require '../php/funciones.php';
    $eventos = obtener_eventos();
?>
<Layout title="INDEXPHPHP">
    <body>
        <section class="hero">
            <div class="hero__bienvenida">
                <p>Bienvenido(a) al</p>
                <h1>Panel de Concentraciones</h1>
            </div>

        </section>

        <main>
            <section id="secc-reservaciones" class="reservaciones">
                <div class="reservaciones__container">
                    <h2>Concentraciones</h2>
                    <ul class="lista__eventos">
                            <li>
                            <div class="lista__titulo evento">
                                    <h3>EXPEDIENTE</h3>
                                    <p>ARTICULO LFCE</p>
                                    <p>INGRESO</p>
                                    <p>RESOLUCIÓN</p>
                                    <p>SENTIDO DE RESOLUCIÓN</p>
                                    <figure class="btn-crear">
                                    </figure>
                                </div>
                            </li>
                            <?php
                                
                                while($evento = mysqli_fetch_assoc($eventos)){ 
                                    $id = $evento['expediente'];
                                    ?>                            
                            <li class="lista__evento">
                                <div class="card evento">
                                    <h3><?php echo $evento['expediente']; ?></h3>
                                    <p><?php echo $evento['articulo_LFCE']; ?></p>
                                    <p><?php echo $evento['ingreso']; ?></p>
                                    <p><?php echo $evento['resolucion']; ?></p>
                                    <p><?php echo $evento['sentido_resolucion']; ?></p>
                                </div>
                            </li>
                                <?php } ?>
                        </ul>
                    
                </div>
            </section>
        </main>
    </body>
</Layout>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --rosa: #d13b68;
    --verdeOscuro: #005a45;
    --verdeClaro: #00a77f;
    --blanco: #ffff;
    --negro: #050505;

    font-family: 'Montserrat';

    list-style: none;
}
body {
    background-color: var(--verdeClaro);
    height: 100vh;
}
main {
    text-align: center;
}
/* HERO */
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
}
.hero__bienvenida {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}
/* EVENTOS */
.eventos {
    margin-top: 5rem;
    height: 100vh;
    text-align: center;
}
.eventos__container h2 {
    color: var(--blanco);
    font-size: 38px;
}
.lista__eventos {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
    margin-top: 1.5rem;
}
.evento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    color: var(--negro);
    border-radius: 10px;

    
    padding: .3rem 1rem;
}
.lista__titulo {
    color: var(--negro);
}
.card {
    background-color: var(--blanco);
}
/* RESERVACIONES */
.reservaciones {
    margin-top: 5rem;
    height: 100vh;
}
.reservaciones__container h2{
    color: var(--negro);
    font-size: 38px;
}

</style>
