---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Cofece - Comisión Federal de Competencia Económica">
	<main class="flex h-screen flex-col justify-between mt-32       bg-white">

		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Qué es Cofece?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>

		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Qué hace Cofece?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>

		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Cómo funciona Cofece?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>

		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Cómo se relaciona Cofece con la ciudadanía?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>

		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Cómo se relaciona Cofece con el gobierno?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>
		
		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Cómo se relaciona Cofece con la ciudadanía?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>

		<section class="flex flex-col justify-center items-center h-full">
			<h2 class="text-2xl font-bold text-center">¿Cómo se relaciona Cofece con el gobierno?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
		</section>

		<section class="flex flex-col justify-center items-center mb-20 h-full">
			<h2 class="text-2xl font-bold text-center">¿Cómo se relaciona Cofece con las empresas?</h2>
			<p class="text-center">Lorem</p>
		</section>


	</main>
</Layout>

