---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Cofece - Asuntos del pleno">
	<main class="my-32 mx-auto">
		
		<h1 style="color: #7B7B7B;">SECCIONES DEL PLENO</span></h1>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="plenoseccion1"
				title="Conoce nuestro pleno"
				body="En este apartado encontraras la biografía que describe a los comisionados, incluido el comisionado presidente."
			/>
			<Card
				href="plenoseccion3"
				title="Asuntos resueltos por el pleno"
				body="Con el objetivo de cumplir con los principios de transparencia y de acceso a la información, así como hacer de carácter público las sesiones, acuerdos y resoluciones del Pleno."
			/>
			<Card
				href="plenoseccion2"
				title="Proxima sesión del pleno"
				body="Asuntos que serán discutidos por el Pleno en su próxima sesión."
			/>
			<Card
				href="informacion"
				title="Apartado de información"
				body="Encuentra en este apartado de información, el historial de asuntos resueltos por el pleno a largo plazo."
			/>
		</ul>
	</main>
	<Navbar selected='' textSelected='' selected2='' textSelected2=''/>
</Layout>

<style>
	main {
        justify-content: center;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(255, 255, 255);
		font-size: 20px;
		background-color: rgb(255, 255, 255);
		line-height: 1.6;
	}

	
	.astro-a {
		position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;

	}
	h1 {
		font-size: 3rem;
		font-weight: 620;
		line-height: 1.3;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>