---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Asuntos del pleno">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			
			viewBox="0 0 495 623"
			
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<h1 style="color: #7B7B7B;">ASUNTOS RESUELTOS</h1>
		<h3 class="context"style="color: #7B7B7B;" >Con el objetivo de cumplir con los principios de transparencia y de acceso a la información, así como hacer de carácter público las sesiones, acuerdos y resoluciones del Pleno, en términos del artículo 18 de la Ley Federal de Competencia Económica publicada en el Diario Oficial de la Federación el 23 de mayo de 2014, se da a conocerla versión pública de dichas determinaciones.</h3>
        <br>
        <hr>
		<h3 class="context"style="color: #7B7B7B;" >Registro de Asuntos del Pleno</h3>
		<br>
		
		<h1  style="color: #7B7B7B;">2023</button>
            <br>
            
            
            <h3><button id="filterButton2" class="more3" ><strong>10a. Sesión Ordinaria Fecha: 20 de febrero del 2023.</button></h3>strong>
           
			<br>
			
           
          <div id="filterMenu2" class="hidden none transition-all duration-700">
            <a href="plenoperfil1">
              <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
              </a>
                    
                    <br>
                    <hr>
                    <br>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>
                    <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-069-2023</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> TALOS PRODUCTION INC. Y ZAMAJAL, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se autoriza la operación.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
					<br>
                    <hr>



				</div>

                <h3><button id="filterButton3" class="more3" ><strong>9a. Sesión Ordinaria Fecha: 16 de febrero del 2023.</button></h3>strong>
           
                    <br>
                    
                   
                  <div id="filterMenu3" class="hidden none transition-all duration-700">

                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-085-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> DAL-TILE MÉXICO COMERCIAL, S. DE R.L. DE C.V.; GRUPO INDUSTRIAL SALTILLO, S.A.B. DE C.V., CINSA, S.A. DE C.V. Y OTROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-103-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>REA MAGNET WIRE COMPANY, INC.; DR. SCHILDBACH FINANZ-GMBH Y OTROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se pospone la discusión del asunto para otra sesión.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, RESOLUCIÓN DEL PROCEDIMIENTO PREVISTO EN LOS ARTÍCULOS 119 Y 133, FRACCIÓN I, DE LAS DISPOSICIONES REGULATORIAS DE LA LFCE, RELATIVO A LA OMISIÓN DE NOTIFICAR UNA CONCENTRACIÓN CUANDO LEGALMENTE DEBIÓ HACERSE DENTRO DEL EXPEDIENTE VCN-001-2023.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>VCN-001-2023</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>HP, INC. Y PLANTRONICS, INC.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se acredita la responsabilidad por haber omitido notificar una concentración cuando legalmente debió hacerse y se imponen multas. Asimismo, se autoriza la operación en los términos establecidos en la resolución.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> ---</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-085-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como procedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-103-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-002-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como procedente.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>REC-002-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-005-2018</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-103-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-103-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>REC-002-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>REC-002-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>

                  </div>

                
            
                  <h3><button id="filterButton4" class="more3" >8a. Sesión Ordinaria Fecha: 09 de febrero del 2023.</button>
           
                    <br>
                    
                   
                  <div id="filterMenu4" class="hidden none transition-all duration-700">

                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-059-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> LUS INVESTMENTS COMPANY, LTD; AOG INVESTMENTS, LTD.; ZAMA CAPITAL, S.A.P.I. DE C.V.; TREBOL HOLDINGS, S.A. DE C.V.; INVERZAMA, S.A. DE C.V.; TENEDORA ARMEGA, S. DE R.L. DE C.V.; MDI EDUCACIÓN, S.A.P.I. DE C.V. Y OTROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-131-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>CIBANCO, S.A., INSTITUCIÓN DE BANCA MÚLTIPLE, ACTUANDO COMO FIDUCIARIO; THOR URBANA PROPERTIES, S. DE R.L. DE C.V.; ADVANCE REAL ESTATE 2, S. DE R.L. DE C.V. Y OTROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>

                    <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> CNT-155-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>ABC TECHNOLOGIES HOLDINGS INC. Y OTROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ANTEPROYECTO DE LOS LINEAMIENTOS PARA EL USO DE MEDIOS ELECTRÓNICOS DURANTE LA INVESTIGACIÓN, LA SECUELA DEL PROCEDIMIENTO, LA VERIFICACIÓN Y LOS INCIDENTES TRAMITADOS ANTE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se aprueba la emisión de los Lineamientos.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO POR EL QUE SE EMITEN LOS LINEAMIENTOS DE AUSTERIDAD DE LA GESTIÓN DE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA PARA 2023, QUE PRESENTA LA DIRECCIÓN GENERAL DE ADMINISTRACIÓN, DE CONFORMIDAD CON EL ARTÍCULO 43 DE LAS POLÍTICAS GENERALES EN MATERIA DE PROGRAMACIÓN, PRESUPUESTACIÓN, APROBACIÓN, EJERCICIO, CONTROL Y EVALUACIÓN DEL GASTO PÚBLICO DE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se aprueba el acuerdo por el que se emiten los Lineamientos.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>En curso.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>

                      
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO POR EL QUE SE RECONOCE LA VIGENCIA DEL TABULADOR DEL MANUAL QUE REGULA LAS REMUNERACIONES DE LAS PERSONAS SERVIDORAS PÚBLICAS DE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se aprueba la emisión del acuerdo por el que se modifica la vigencia del Manual que regula las remuneraciones de las personas servidoras públicas, y por el que se aprueba la estructura ocupacional de la Comisión Federal de Competencia Económica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>En curso.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO AL DESISTIMIENTO DEL RECURSO DE RECLAMACIÓN 22/2023-CA, PROMOVIDO EN CONTRA DEL ACUERDO DE 2 DE ENERO DE 2023 DICTADO EN LA CONTROVERSIA CONSTITUCIONAL 207/2021 TRAMITADA ANTE LA SUPREMA CORTE DE JUSTICIA DE LA NACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Se aprueba la emisión del acuerdo.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>En curso.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong>---</h3>
                      <br>
                      <hr>
                      <br>
 


                  </div>

                     <h3><button id="filterButton5" class="more3" >7a. Sesión Ordinaria Fecha: 02 de febrero del 2023. </button>
           
                     <br>
                    
                   
                      <div id="filterMenu5" class="hidden none transition-all duration-700">
                      <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> CNT-147-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> EMERGENT COLD LATAM HOLDINGS, LLC; EMERGENT LATAM HOLDCO LTD; OLMO, L.P.; OLMO GP, LLC Y OTROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> CNT-156-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>INFORMACIÓN IDENTIFICADA COMO CONFIDENCIAL EN TÉRMINOS DEL ACUERDO DEL 12 DE ENERO DE 2023.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                    <br>
                       
                  </div>

                  <h3><button id="filterButton6" class="more3" >6a. Sesión Ordinaria Fecha: 30 de enero del 2023.</button>
           
                     <br>
                    
                   
                  <div id="filterMenu6" class="hidden none transition-all duration-700">
                      <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE OPINIÓN PARA PARTICIPAR EN UN CONCURSO PÚBLICO.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> LI-001-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>  Reservado en términos del Art. 165, último párrafo, de las Disposiciones Regulatorias de la LFCE.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>  Se emite opinión.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En términos del artículo 47 de las Disposiciones Regulatorias de la LFCE, el plazo para elaborar la versión pública comienza a partir de que se presenten las posturas económicas ante la autoridad convocante.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>
                       
                  </div>

                  
                  <h3><button id="filterButton7" class="more3" >5a. Sesión Ordinaria Fecha: 26 de enero del 2023.
                </button>
                           
                  <br>
                                    
                                   
                  <div id="filterMenu7" class="hidden none transition-all duration-700">
                
                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-148-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> ARTEMIS PARENT, INC. Y SHERFAM, INC.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> CNT-165-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>GRUPO FINANCIERO CITIBANAMEX, S.A. DE C.V.; CITICORP LLC; DEUTSCHE MEXICO HOLDINGS S.À R.L. Y SÜDDEUTSCHE VERMÖGENSVERWALTUNG GMBH.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ANTEPROYECTO DE LINEAMIENTOS PARA LA EMISIÓN DE OPINIONES O RESOLUCIONES EN EL OTORGAMIENTO DE LICENCIAS, CONCESIONES, PERMISOS Y ANÁLOGOS, POR MEDIOS ELECTRÓNICOS ANTE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se aprueban los Lineamientos.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL CUARTO INFORME TRIMESTRAL DE ACTIVIDADES 2022.
                      </h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se aprueba la emisión del informe.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-148-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> ARTEMIS PARENT, INC. Y SHERFAM, INC.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL PROGRAMA ANUAL DE TRABAJO 2023.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se aprueba la emisión del Programa Anual de Trabajo 2023.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>
                                       
                      </div>

                      <h3><button id="filterButton8" class="more3" >4a. Sesión Ordinaria Fecha: 19 de enero del 2023.
                      </button>
                           
                  <br>
                                    
                                   
                  <div id="filterMenu8" class="hidden none transition-all duration-700">
                
                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-090-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>BANCO INVEX, S.A., INSTITUCIÓN DE BANCA MÚLTIPLE, INVEX GRUPO FINANCIERO, ACTUANDO COMO FIDUCIARIO; TRADE CORPORATION INTERNATIONAL, S.A.U. Y OTROS.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-092-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>TAMPA CARGO S.A.S. Y AERO TRANSPORTE DE CARGA UNIÓN, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> CONCENTRACIÓN</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-140-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.
                      </h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-151-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>HOKCHI ENERGY, S.A. DE C.V.; E&P HIDROCARBUROS Y SERVICIOS, S.A. DE C.V.; SIERRA BLANCA P&D, S. DE R.L. DE C.V.; SIERRA CORONADO E&P, S. DE R.L. DE C.V. Y OTROS.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN DEL INFORME REFERENTE A LA UTILIZACIÓN Y SALDOS DE LOS RECURSOS APORTADOS A LOS FIDEICOMISOS “FONDO PARA SOLVENTAR LAS CONTINGENCIAS DERIVADAS DE JUICIOS LABORALES DE LA COFECE” Y “FONDO DE ADMINISTRACIÓN DE LA INFRAESTRUCTURA Y EQUIPAMIENTO DE LA COFECE”, CORRESPONDIENTES AL CUARTO TRIMESTRE DEL AÑO 2022, CON LA FINALIDAD DE DAR CUMPLIMIENTO A LO ESTABLECIDO EN EL ARTÍCULO 12 DE LA LEY FEDERAL DE PRESUPUESTO Y RESPONSABILIDAD HACENDARIA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> No aplica</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se dan por enterados.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN DEL INFORME CORRESPONDIENTE AL CUARTO TRIMESTRE DEL AÑO 2022 REFERENTE A LAS ACCIONES IMPLEMENTADAS PARA LA GENERACIÓN DE AHORROS DE CONFORMIDAD CON LO ESTABLECIDO EN LOS LINEAMIENTOS DE AUSTERIDAD DE LA GESTIÓN DE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se dan por enterados.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> No aplica.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>
                                             
                    
                  </div>

                  <h3><button id="filterButton9" class="more3" >3a. Sesión Ordinaria Fecha: 12 de enero del 2023.
                </button>
                           
                  <br>
                                    
                                   
                  <div id="filterMenu9" class="hidden none transition-all duration-700">
                
                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>CNT-137-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>BREAKWATER ENERGY HOLDINGS S.À.R.L. Y REPSOL, S.A.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y EN SU CASO, SOLICITUD DE OPINIÓN RELATIVA A LA PARTICIPACIÓN CRUZADA EN TÉRMINOS DEL ARTÍCULO 83 DE LA LEY DE HIDROCARBUROS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>ONCP-010-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>Reservado en términos del Art. 165, último párrafo, de las Disposiciones Regulatorias de la LFCE.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se emite opinión.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, RESOLUCIÓN DEL PROCEDIMIENTO PREVISTO EN LOS ARTÍCULOS 132 Y 133, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, EN EL EXPEDIENTE VSP-002-2019-I, RELATIVO AL PROBABLE INCUMPLIMIENTO DE LA RESOLUCIÓN EMITIDA POR ESTA COFECE DENTRO DEL EXPEDIENTE DE-008-2016.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>VSP-002-2019-I</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>AEROPUERTO DE CANCÚN, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>No se acredita el incumplimiento a la resolución emitida por el Pleno de esta Comisión el veinticinco de julio de dos mil diecinueve en el expediente DE-008-2016 y acumulado. Se decreta el cierre del expediente VSP-002-2019-I.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.
                      </h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> IO-001-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como procedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IO-001-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> No aplica</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como procedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, DETERMINACIÓN SOBRE EL DICTAMEN SOMETIDO A CONSIDERACIÓN DEL PLENO DE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA POR EL TITULAR DE LA AUTORIDAD INVESTIGADORA DE ESTA COMISIÓN EN TÉRMINOS DEL ARTÍCULO 78 DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IO-001-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se ordena al Secretario Técnico dar inicio al procedimiento seguido en forma de juicio.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> No aplica.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>
                                             
                    
                                       
                  </div>

                  <h3><button id="filterButton10" class="more3" >2a. Sesión Ordinaria Fecha: 09 de enero del 2023.
                </button>
                           
                  <br>
                                    
                                   
                  <div id="filterMenu10" class="hidden none transition-all duration-700">
                
                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-005-2018</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>SOLICITUD DE CALIFICACIÓN DE EXCUSA PRESENTADA POR UNO DE LOS COMISIONADOS.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-002-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se califica como improcedente.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO A LA REANUDACIÓN DEL PLAZO ESTABLECIDO EN EL ARTÍCULO 94, FRACCIÓN VII, PÁRRAFO CUARTO, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, EN EL EXPEDIENTE IEBC-005-2018.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-005-2018</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se reanuda el plazo de sesenta días a que se refiere el cuarto párrafo, de la fracción VII, del artículo 94 de la Ley Federal de Competencia Económica, para la emisión de la resolución en el expediente IEBC-005-2018, a partir del trece de diciembre de dos mil veintidós.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO A LA REANUDACIÓN DEL PLAZO ESTABLECIDO EN EL ARTÍCULO 94, FRACCIÓN VII, PÁRRAFO CUARTO, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, EN EL EXPEDIENTE IEBC-002-2019.
</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> IEBC-002-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se reanuda el plazo de sesenta días a que se refiere el cuarto párrafo, de la fracción VII, del artículo 94 de la Ley Federal de Competencia Económica, para la emisión de la resolución en el expediente IEBC-002-2019, a partir del trece de diciembre de dos mil veintidós.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                     
                  </div>

                  <h3><button id="filterButton11" class="more3" >1a. Sesión Ordinaria Fecha: 05 de enero del 2023.
                </button>
                           
                  <br>
                                    
                                   
                  <div id="filterMenu11" class="hidden none transition-all duration-700">
                
                    <a href="plenoperfil1">
                      <h3 class="more3" > <strong>Versión escenográfica</h3></strong>
                      </a>

                      <br>
                      <hr>
                      <br>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>CONCENTRACIÓN.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong> CNT-139-2022</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>DUFRY AG; SCHEMA BETA S.P.A. Y EDIZIONE S.P.A.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se autoriza la operación.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> PDF
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO A LA REANUDACIÓN DEL PLAZO ESTABLECIDO EN EL ARTÍCULO 94, FRACCIÓN VII, PÁRRAFO CUARTO, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, EN EL EXPEDIENTE IEBC-005-2018.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-005-2018</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong> Se pospone la discusión del asunto para otra sesión</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO A LA REANUDACIÓN DEL PLAZO ESTABLECIDO EN EL ARTÍCULO 94, FRACCIÓN VII, PÁRRAFO CUARTO, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, EN EL EXPEDIENTE IEBC-002-2019.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>IEBC-002-2019</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>AEROPUERTO DE CANCÚN, S.A. DE C.V.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>No se acredita el incumplimiento a la resolución emitida por el Pleno de esta Comisión el veinticinco de julio de dos mil diecinueve en el expediente DE-008-2016 y acumulado. Se decreta el cierre del expediente VSP-002-2019-I.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong> PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO A LA REANUDACIÓN DEL PLAZO ESTABLECIDO EN EL ARTÍCULO 138, FRACCIÓN III, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, RESPECTO DEL ANTEPROYECTO DE LOS LINEAMIENTOS PARA LA EMISIÓN DE OPINIONES O RESOLUCIONES EN EL OTORGAMIENTO DE LICENCIAS, CONCESIONES, PERMISOS Y ANÁLOGOS, POR MEDIOS ELECTRÓNICOS ANTE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.
                      </h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se aprueba la emisión del acuerdo.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> En curso.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO RELATIVO A LA REANUDACIÓN DEL PLAZO ESTABLECIDO EN EL ARTÍCULO 138, FRACCIÓN III, DE LA LEY FEDERAL DE COMPETENCIA ECONÓMICA, RESPECTO DEL ANTEPROYECTO DE LOS LINEAMIENTOS PARA EL USO DE MEDIOS ELECTRÓNICOS DURANTE LA INVESTIGACIÓN, LA SECUELA DEL PROCEDIMIENTO, LA VERIFICACIÓN Y LOS INCIDENTES TRAMITADOS ANTE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong> No aplica</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se aprueba la emisión del acuerdo.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong>En curso.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                    <hr>
                      <br>

                      <h3 class="context" style="color: #7B7B7B; "><strong>Asunto:</strong>PRESENTACIÓN, DISCUSIÓN Y, EN SU CASO, APROBACIÓN DEL ACUERDO POR EL QUE SE EMITE EL MANUAL QUE REGULA LAS REMUNERACIONES DE LAS PERSONAS SERVIDORAS PÚBLICAS, Y POR EL QUE SE APRUEBA LA ESTRUCTURA OCUPACIONAL DE LA COMISIÓN FEDERAL DE COMPETENCIA ECONÓMICA.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Expediente:</strong>No aplica.</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Agentes economicos involucrados:</strong>No aplica</h3>
                      <h3 class="context" style="color: #7B7B7B; "><strong>Sentido de la resolución:</strong>Se aprueba la emisión del acuerdo.</h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Resolución pública:</strong> No aplica.
                      </h3>
                    <h3 class="context" style="color: #7B7B7B; "><strong>Comunicado:</strong> Desconocido</h3>
                      <br>
                      <hr>
                    <br>
                                             
                    
                                       
                                       
                  </div>

            
            

	
    </main>
</Layout>

<style>
	main {
        justify-content: center;
        margin: 7rem auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(255, 255, 255);
		font-size: 20px;
		background-color: rgb(255, 255, 255);
		line-height: 1.6;
	}

    .informacion{
        display: none;
    }

	.more {
		margin: auto;
		display: flex;
        width: 100%;
		justify-content: center;
		align-items: center;
		transition: .3s;
		border-radius: 10px;
	}

	.more:hover{
		color: aliceblue;
		background-color:#00a099;
		
	}

  .more3 {
      color: #7B7B7B;
		margin: auto;
		display: flex;
        background-color:#e0e0e0;
        width: 100%;
		justify-content: center;
		align-items: center;
		transition: .3s;
		border-radius: 10px;
	}

	.more3:hover{
		color: aliceblue;
		background-color:#00a099;
		
	}

	
	.astro-a {
		position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;

	}
    .perfil{
        margin: auto;
    }

	hr{
        background-color:#00a099;
        height: 0.1em;
        border-radius:1.5rem;
        clear: both;
    }

    .context{
        text-align: center;
    }

	h1 {
		font-size: 3rem;
		font-weight: 620;
		line-height: 1.3;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

    
</style>

<script>
	const filterBtn = document.getElementById('filterButton2');


	filterBtn.addEventListener('click', () => {
		const filterMenu = document.getElementById('filterMenu2');
		filterMenu.classList.toggle('hidden');
	})


    const filterBtn2 = document.getElementById('filterButton3');


	filterBtn2.addEventListener('click', () => {
		const filterMenu = document.getElementById('filterMenu3');
		filterMenu.classList.toggle('hidden');
	})

    const filterBtn3 = document.getElementById('filterButton4');


	filterBtn3.addEventListener('click', () => {
		const filterMenu = document.getElementById('filterMenu4');
		filterMenu.classList.toggle('hidden');
	})

    const filterBtn4 = document.getElementById('filterButton5');


filterBtn4.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu5');
    filterMenu.classList.toggle('hidden');
})


const filterBtn5 = document.getElementById('filterButton6');


filterBtn5.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu6');
    filterMenu.classList.toggle('hidden');
})

const filterBtn6 = document.getElementById('filterButton7');


filterBtn6.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu7');
    filterMenu.classList.toggle('hidden');
})


const filterBtn7 = document.getElementById('filterButton8');


filterBtn7.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu8');
    filterMenu.classList.toggle('hidden');
})

const filterBtn8 = document.getElementById('filterButton9');


filterBtn8.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu9');
    filterMenu.classList.toggle('hidden');
})

const filterBtn9 = document.getElementById('filterButton10');


filterBtn9.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu10');
    filterMenu.classList.toggle('hidden');
})

const filterBtn10 = document.getElementById('filterButton11');


filterBtn10.addEventListener('click', () => {
    const filterMenu = document.getElementById('filterMenu11');
    filterMenu.classList.toggle('hidden');
})


    

</script>

