---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="COFECE - Perfil de Comisionado">
	<main>
		<h1 style="color: #7B7B7B;">CONOCE NUESTRO PLENO</h1>
		
		<hr>
		<br>
		<h3 class="context"style="color: #7B7B7B;" ><strong>Comisionados del Pleno</h3></strong>
		<br>
		<img class="perfil" src="/perfil5.jpg" alt="">
    	<h3 class="context" style="color: #7B7B7B;">
            Giovanni Tapia Lezama</h3>
        <h3 class="context" style="color: #7B7B7B;">Comisionado</h3>
		<h3 class="context" style="color: #7B7B7B;">2023-2032</h3>
		<h3 class="context" style="color: #7B7B7B;">gtapia@cofece.mx</h3>
		<hr>
        <br>
        <h3 class="context"style="color: black;" ><strong>Experiencia laboral</h3></strong>
        <br>
            <ul class="context"style="color: #7B7B7B;">
                <li>Asociado Senior en firma privada enfocada en la asesoría en competencia económica (2018-2023).
                    Asesor del Comisionado Eduardo Martínez Chombo en la Comisión Federal de Competencia Económica (2014-2018).</li>
                <br>

                <li>Asesor en la Dirección General en empresa de participación estatal (2012-2014). </li>
                <br>
                <li>Subdirector en la Dirección General de Estudios Económicos de la Comisión Federal de Competencia (2009-2012).</li>
                <br>

                <li>Investigador en el Centro de Estudios de Finanzas Públicas de la Cámara de Diputados (2008).</li>
                <br>

                <li>Analista en la Dirección de Estudios Económicos del Banco de México (2007-2008). </li>
                <br>

              </ul>
              <br>
              <hr>
              <br>
              <h3 class="context"style="color: black;" ><strong>Estudios</h3></strong>
            <ul class="context"style="color: #7B7B7B;">
                <br>
                <li>Licenciado en Economía por el Centro de Investigación y Docencia Económicas, A.C. (CIDE).</li>
                <br>
                <li>Programa Especial de Dirección Empresarial en el IPADE.</li>
                <br>
                <li>Diplomado en Regulación COFEMER.</li>
                <br>
               
               

               
              </ul>
              <hr>
              <br>
              <h3 class="context"style="color: black;" ><strong>Entrevistas y Agenda</h3></strong>
             <br>
              <a href="entrevistas5">
              <button class="more" style="color: black;"><strong>Entrevistas con el Comisionado Giovanni Tapia Lezama</button></strong>
             </a>
             

             <br>
              <hr>
              <br>
              <a href="plenoseccion1">
			<button class="more2" style="color: black;"><strong>Regresar</button></strong>
		  </a>
		<br>
		
    </main>

	<Navbar selected="" textSelected="" selected2="" textSelected2="" />
</Layout>

<style>
	main {
        justify-content: center;
        margin: 7rem auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(255, 255, 255);
		font-size: 20px;
		background-color: rgb(255, 255, 255);
		line-height: 1.6;
	}

   

	.more {
        background-color: rgb(216, 216, 216);
		margin: auto;
		display: flex;
        width: 90%;
		justify-content: center;
		align-items: center;
		transition: .3s;
		border-radius: 10px;
	}

	.more:hover{
        color: aliceblue;
		background-color:#00a099;
	}

    .more2 {
       
		margin: auto;
		display: flex;
        width: 90%;
		justify-content: center;
		align-items: center;
		transition: .3s;
		border-radius: 10px;
	}

	.more2:hover{
        color: aliceblue;
		background-color:#00a099;
	}

    .perfil{
        margin: auto;
    }

	hr{
        background-color:#00a099;
        height: 0.1em;
        border-radius:1.5rem;
        clear: both;
    }

    .context{
        text-align: center;
    }

	h1 {
		font-size: 3rem;
		font-weight: 620;
		line-height: 1.3;
		text-align: center;
		margin-bottom: 1em;
	}

</style>