---
// this ver tries to implement an astro component that receives multiple articles
import '../Styles/stylesPrensa.css'; 
import Layout from '../layouts/Layout.astro';
import Article2 from '../components/Article2.astro';

const brenda = "Comisionada Presidenta en suplencia por vacancia, Brenda Gisela Hernández Ramírez";
const juan = "Director General de Estudios Económicos, Juan Manuel Espino Bravo ";

const articlesData = [
    {
        year: 2022,
        title: "Discurso de bienvenida de Brenda Hernández, Comisionada presidenta en suplencia por vacancia de la Cofece, ante la Jornada por la competencia, Sector financiero: Retos y oportunidades",
        person: brenda,
        date: "26 octubre 2022"
    },
    {
        year: 2022,
        title: "Discurso ante el Foro sobre las Medidas para fortalecer el paquete contra la inflación en alimentos y energéticos del Grupo de Trabajo para la Transición Hacendaria, Cámara de Diputados",
        person: brenda,
        date: "26 mayo 2022"
    },
    {
        year: 2022,
        title: 'Presentación "Estudio de competencia y libre concurrencia en seguros de gastos médico',
        person: juan,
        date: "06 diciembre 2022"
    },
    {
        year: 2022,
        title: 'Presentación "Competencia económica en gas LP y alimentos" presentada en el Foro sobre las Medidas para fortalecer el paquete contra la inflación en alimentos y energéticos del Grupo de Trabajo para la Transición Hacendaria, Cámara de Diputados',
        person: brenda,
        date: "26 mayo 2022"
    },
    {
        year: 2021,
        title: 'Presentación ante la Comisión de Hacienda y Crédito Público del Senado de la República de la comisionada presidenta Alejandra Palacios Prieto',
        person: brenda,
        date: "26 mayo 2022"
    },
  ]
---



<Layout title="Cofece - Prensa">
  <astro-fragment>
    <div class="center-vertical">
    <Article2 year={2023} articles={articlesData.filter(article => article.year === 2023)} />
    <Article2 year={2022} articles={articlesData.filter(article => article.year === 2022)} />
    <Article2 year={2021} articles={articlesData.filter(article => article.year === 2021)} />
      </div>
  </astro-fragment>
  </Layout>
  

<script>
</script>
