---
import '../Styles/styles.css'; 
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cofece - Prensa">
<astro-fragment>
  <div class="buttons">
    <button class="btn-year color-green" id="btn2023">2023</button>
    <div class="article-content" id="article2023">
      <p class="article-title">Titulo</p>
      <p><span class="article-person">Persona.</span> <span> Fecha: Fecha.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
      <p class="article-title">Titulo</p>
      <p><span class="article-person">Persona.</span> <span> Fecha: Fecha.</span></p>
      <hr style="width: 70%; margin-left: 15%; margin-left: 15%;">
    </div>
    <button class="btn-year color-green" id="btn2022">2022</button>
    <div class="article-content" id="article2022">
      <p class="article-title"><a href="discurso-26-oct-2022.html" class="article-link">Discurso de bienvenida de Brenda Hernández, Comisionada presidenta en suplencia por vacancia de la Cofece, ante la Jornada por la competencia, Sector financiero: Retos y oportunidades</a></p>
      <p><span class="article-person">Comisionada Presidenta en suplencia por vacancia, Brenda Gisela Hernández Ramírez.</span> <span> Fecha: 26 octubre 2022.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
      <p class="article-title">Discurso ante el Foro sobre las Medidas para fortalecer el paquete contra la inflación en alimentos y energéticos del Grupo de Trabajo para la Transición Hacendaria, Cámara de Diputados</p>
      <p><span class="article-person">Comisionada Presidenta en suplencia por vacancia, Brenda Gisela Hernández Ramírez.</span> <span> Fecha: 26 mayo 2022.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
    </div>
    <button class="btn-year color-green" id="btn2021">2021</button>
    <div class="article-content" id="article2021">
      <p class="article-title">Titulo</p>
      <p><span class="article-person">Persona.</span> <span> Fecha: Fecha.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
      <p class="article-title">Titulo</p>
      <p><span class="article-person">Persona.</span> <span> Fecha: Fecha.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
    </div>
    <button class="btn-year color-green" id="btn2020">2020</button>
    <div class="article-content" id="article2020">
      <p class="article-title">Titulo</p>
      <p><span class="article-person">Persona.</span> <span> Fecha: Fecha.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
      <p class="article-title">Titulo</p>
      <p><span class="article-person">Persona.</span> <span> Fecha: Fecha.</span></p>
      <hr style="width: 70%; margin-left: 15%;">
    </div>
  </div>
</astro-fragment>
</Layout>

<script>
  // Element references
  const btn2023 = document.getElementById('btn2023');
  const btn2022 = document.getElementById('btn2022');
  const btn2021 = document.getElementById('btn2021');
  const btn2020 = document.getElementById('btn2020');
  const article2023 = document.getElementById('article2023');
  const article2022 = document.getElementById('article2022');
  const article2021 = document.getElementById('article2021');
  const article2020 = document.getElementById('article2020');

  // Flags
  let isHidden = true;

  // hiding articles
  article2023.hidden = true;
  article2022.hidden = true;
  article2021.hidden = true;
  article2020.hidden = true;

  // Event listener
  btn2023.addEventListener("click", () => displayContent(article2023));
  btn2022.addEventListener("click", () => displayContent(article2022));
  btn2021.addEventListener("click", () => displayContent(article2021));
  btn2020.addEventListener("click", () => displayContent(article2020));

  // Function to display or hide content
  function displayContent(article) {
      isHidden = !isHidden;
      article.hidden = isHidden;
      console.log(`Is article hidden? ${isHidden}`);
      console.log("Display content function");
  }

</script>
