---

---

<header class="bg-white">
    <img src="public/cofece-logos.png" alt="">

    <div class="flex px-4 justify-between items-center bg-cyan-300 py-1">
        <img class="w-6 h-6" src="public/filter.png" alt="">
        <div class="flex justify-center gap-4 py-2">
            <input class="rounded-xl px-3 py-1" type="search" placeholder="Ingrese su búsqueda" name="search">
            <button class="bg-yellow-400 px-7 rounded-2xl shadow-md" type="submit">
                <img class="w-6 h-6" src="public/search.png" alt="">
            </button>
        </div>
    </div>
</header>