---

---


<nav class="bg-cyan-300">
    <ul class="flex justify-between items-center py-1 px-2">
        <li class="flex flex-col justify-center items-center">
            <img src="public/news.png" alt="Logo" class="h-6">
            <a href="">Noticias</a>
        </li>
        <li class="flex flex-col justify-center items-center">
            <img src="public/dates.png" alt="Logo" class="h-6">
            <a href="">Agenda</a>
        </li>
        <li class="bg-yellow-400 p-3 px-4 shadow-xl rounded-full flex flex-col justify-center items-center">
            <img src="public/home.png" alt="Logo" class="w-6 h-6">
            <a href="">Inicio</a>
        </li>
        <li class="flex flex-col justify-center items-center">
            <img src="public/account.png" alt="Logo" class="h-6">
            <a href="">Cuenta</a>
        </li>
        <li class="flex flex-col justify-center items-center">
            <img src="public/help.png" alt="Logo" class="h-6">
            <a href="">Ayuda</a>
        </li>
    </ul>

</nav>