---
interface Props {
    title: string;
    description: string;
    image: string;
    link: string;
}

const { title, description, image, link } = Astro.props;
---

<div class="bg-[#00C7B1] rounded-xl flex flex-col items-center p-3">
    <div>
        <img class="rounded-tl-md rounded-tr-md" src=`${image}` alt="Imagen Post">
    </div>

    <div class="p-2">
        <h1 class="font-black text-white text-xl text-center" >{ title }</h1>
        <p class="text-left text-white font-light">{ description }</p>
    </div>

    <a class="py-1 px-4 bg-white rounded-3xl text-[#333F48] font-bold" href=`${link}`>Ver más</a>

</div>