---
interface Props {
	title: string
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="bg-white z-50 w-full shadow-slate-200 shadow-sm fixed top-0">
			<img src="public/cofece-logos.png" alt="" class="md:w-80">
			<div class="flex px-4 justify-between items-center bgwhite py-1">
				<img id="filterButton" class="w-6 h-6 cursor-pointer" src="public/filter.png" alt="">
				<div class="flex justify-center gap-3 py-2">
					<input class="rounded-xl px-3 py-1 bg-slate-100" type="search" placeholder="Ingrese su búsqueda" name="search">
					<button class="bg-cyan-300 px-7 rounded-2xl shadow-md" type="submit">
						<img class="w-6 h-6" src="public/search.png" alt="">
					</button>
				</div>
			</div>

			<div id="filterMenu" class="hidden flex justify-between p-2 transition-all duration-700">
				<div class="flex gap-1">
					<h2 class="font-medium ">Ordenar por:</h2>
					<select class="border-2" name="" id="">
						<option value="">Fecha</option>
						<option value="">Tipo</option>
					</select>
				</div>
				<div class="flex gap-2">
					<h2 class="font-medium">Filtrar por:</h2>
					<select class="border-2" name="" id="">
						<option value="">Recientes</option>
						<option value="">Antiguos</option>
					</select>
				</div>
			</div>
		</header>

		<slot/>

		<nav class="bg-white p-2 fixed bottom-0 w-full shadow-slate-500 shadow-sm">
			<ul class="flex justify-between items-center px-2">
				<li class="flex flex-col justify-center items-center border-b-2 border-white p-3 rounded-full bg-cyan-300">
					<img src="public/news.png" alt="Logo" class="h-5">
					<a class="text-md text-black" href="/">Prensa</a>
				</li>
				<li class="flex flex-col justify-center items-center">
					<img src="public/dates.png" alt="Logo" class="h-5">
					<a class="text-md text-black" href="/pleno">Pleno</a>
				</li>
				<li class="flex flex-col justify-center items-center">
					<img src="public/home.png" alt="Logo" class="h-5">
					<a class="text-md text-black" href="">Estadísticas</a>
				</li>
				<li class="flex flex-col justify-center items-center">
					<img src="public/account.png" alt="Logo" class="h-5">
					<a class="text-md text-black" href="">Cuenta</a>
				</li>
				<li class="flex flex-col justify-center items-center">
					<img src="public/help.png" alt="Logo" class="h-5">
					<a class="text-md text-black" href="">Ayuda</a>
				</li>
			</ul>
		
		</nav>
		
	</body>
</html>

<script>
	const filterBtn = document.getElementById('filterButton');


	filterBtn.addEventListener('click', () => {
		const filterMenu = document.getElementById('filterMenu');
		filterMenu.classList.toggle('hidden');
	})

</script>