---
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cofeceLogo-noBackground.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
	<body>
		<header class="bg-white z-50 w-full shadow-slate-200 shadow-sm fixed top-0">
			<img src="public/cofece-logos.png" alt="" class="px-3 mx-auto md:w-96">
			<div class="md:flex items-center md:justify-around">
				<nav class="hidden md:block">
					<ul class="none md:flex md:gap-8 text-lg font-light">
						<li><a class="" href="/">Prensa</a></li>
						<li><a class="" href="/pleno">Pleno</a></li>
						<li><a class="" href="/informacion">Información</a></li>
						<li><a class="" href="/cuenta">Cuenta</a></li>
						<li><a class="" href="/ayuda">Ayuda</a></li>
					</ul>
				</nav>
				<div class="flex justify-evenly items-center md:justify-end md:gap-3 ">
					<div class="flex justify-center gap-3 py-3">
						<input class="rounded-xl px-2 py-1 bg-[#333f4810] border-[1px] border-slate-300 md:w-80" type="search" placeholder="Ingrese su búsqueda" name="search">
						<button class="bg-[#00C7B1] px-6 rounded-2xl shadow-md" type="submit">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="25" height="25" viewBox="0 0 24 24" stroke-width="3" stroke="#333F48" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
								<path d="M21 21l-6 -6" />
							</svg>
						</button>
					</div>
				</div>
			</div>

			<div id="filterMenu" class="hidden flex justify-between p-2 transition-all duration-700">
				<div class="flex gap-1">
					<h2 class="font-medium ">Ordenar por:</h2>
					<select class="border-2" name="" id="">
						<option value="">Fecha</option>
						<option value="">Tipo</option>
					</select>
				</div>
				<div class="flex gap-2">
					<h2 class="font-medium">Filtrar por:</h2>
					<select class="border-2" name="" id="">
						<option value="">Recientes</option>
						<option value="">Antiguos</option>
					</select>
				</div>
			</div>
		</header>

		<slot/>
		
	</body>
</html>